/************************* Home page styles */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 99%;

}
.instructions-window {
    display: flex;
    justify-content: center;
    background-color: bisque;
    border: 1px solid rgb(36, 34, 34);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
.paragraph-entering-window {
    display: flex;
    gap: 5px;
    height: 50px;
    padding: 10px;
}

.paragraph-window {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 185, 152);
    border: 1px solid rgb(29, 28, 28);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
/* paragraph-entering-window */
.paragraph-entering-window input {
    border-radius: 3px;
    padding: 5px 30px;
    background-color: azure;
    border: 1px solid black;
}

.paragraph-entering-window button {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px 30px;
    margin-left: 10px;
    background-color: rgb(109, 109, 235);
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;
    font-size: medium;
    font-weight: bold;
}

.paragraph-entering-window button:hover {
    transform: scale(1.05);
    background-color: rgb(46, 59, 235);
}
.paragraph-entering-window button:active {
    background-color: rgb(9, 9, 233);
    transform: scale(1);
}

/* paragraph display */
.paragraph-area {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    background-color: antiquewhite;
}

.paragraph-span {
    padding-left: 5px;
}

.selected-paragraph-span {
    background-color: rgb(85, 85, 218);
}
/* ParagraphButtons */
.paragraph-buttons-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.paragraph-buttons-container {
    border-top: 1px solid black;
    padding-top: 6px;
}

.paragraph-buttons-container button {
    border-radius: 3px;
    border: 1px solid black;
    color: rgb(14, 13, 13);
    transition: all 0.3s linear;
    font-size: medium;
    font-weight: bold;
}
.paragraph-buttons-container button:hover {
    transform: scale(1.05);
    
}
.paragraph-buttons-container button:active {
    transform: scale(1);
    
}

.get-prompt-btn {
    padding: 5px 35px;
    background-color: rgb(63, 243, 63);
}
.remove-last-btn {
    padding: 5px 12px;
    background-color: rgb(223, 166, 60);
}
.clear-btn {
    padding: 5px 60px; 
    background-color: rgb(196, 63, 63);}

.get-prompt-btn:hover {
    padding: 5px 35px;
    background-color: rgb(5, 207, 5);
}
.remove-last-btn:hover {
    padding: 5px 12px;
    background-color: rgb(170, 113, 6);
}
.clear-btn:hover {
    padding: 5px 60px; 
    background-color: rgb(163, 7, 7);}

.get-prompt-btn:active {
    padding: 5px 35px;
    background-color: rgb(6, 247, 6);
}
.remove-last-btn:active {
    padding: 5px 12px;
    background-color: rgb(228, 151, 10);
}
.clear-btn:active {
    padding: 5px 60px; 
    background-color: rgb(199, 8, 8);}


/************************ */
